            html {
                background-color: #2b2b2b;
            }
            
            body {
                width: 1200px;
                margin: 0 auto;
                font-family: Helvetica, Arial, sans-serif;
            }
            
            a {
                color: white;
                background-color: #616161;
                padding: 4 16 4 16;
                border-radius: 8px;
                text-decoration: none;
                box-shadow: 0 6px 6px rgba(0,0,0,0.1);
            }
            
            a.fav {
                color: #121212;
                background-color: #bb86fc;
            }

            a.new {
                color: #121212;
                background-color: skyblue;
            }
            
            p {
                color: white;
                line-height: 2em;
            }
        
            .container:after { /*clear float*/
                content: "";
                display: table;
                clear: both;
            }

            .section {
                background-color: #383838;
                float: left;
                border-top: 3px solid rgba(255,255,255,0.1);
                border-bottom: 3px solid rgba(0,0,0,0.1);
                border-radius: 24px;
                box-shadow: 0 10px 16px rgba(0,0,0,0.1);
                margin-top:20px;
                margin-right: 5px;
                margin-left: 5px;
                width: 390px;
                height: 406px;
                box-sizing: border-box;
                padding: 20px 20px 20px 20px;
            }
            
            .section2 {
                float: left;
                border-top: 2px solid #4a4a4a;
                border-bottom: 2px solid #383838;
                border-radius: 10px;
                box-shadow: 0 6px 6px rgba(0,0,0,0.1);
                margin-top:20px;
                margin-right: 5px;
                margin-left: 5px;
                width: 390px;
                height: 136px;
                box-sizing: border-box;
                padding: 20px 36px 20px 36px;
            }

            .section img {
                overflow: hidden;
                border-radius: 16px;
                box-shadow: 0 10px 16px rgba(0,0,0,0.5);
            }
            
            a.section {
                background-color: darkslategrey;
            }
            
            @media (max-width: 980px) { /*breakpoint*/
                body {
                width: 100%;
                margin: 0 auto;
                font-family: Helvetica, Arial, sans-serif;
            }
                
                .section {
                    float: left;
                    width: 100%;
                    height: auto;
                    margin-right: 0px;
                    box-shadow: 0 6px 6px rgba(0,0,0,0.1);
                    border: 1px solid gray;
                }
                
                .section2 {
                    float: left;
                    width: 100%;
                    height: auto;
                    margin-right: 0px;
                    box-shadow: 0 6px 6px rgba(0,0,0,0.1);
                    border: 1px solid gray;
                }
                
                p {
                    font-size: 3.25em;
                    line-height: 2.5em;
                }
                
                a {
                    padding: 20 30 20 30;
                }
                
            }